/* Stylesheet for Mobile App */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav{
    margin:0;
    padding:0;
}

/* Universal Style */
body{
    background-color:rgb(250, 249, 247);
}
div#container{
    width:1200px;
    height:800px;
    background-color:rgba(0, 169, 183, 0.79)
}

header{
    width:1150;
    padding:25px;
    background-color: #0db474;
}

header h1{
    color: #003b31;
    font-family: 'Nosifer', cursive;
    font-size: 2.6em;
    
}

div#content{
    width:100%;
    background-color: rgba(13, 180, 116, 0.56);
    font-size: 1.5em;
}

nav {
    width:100%;
    background-color: rgba(13, 180, 116, 0.17);
}

nav ul{
    font-size: 1.5em;
    list-style: none;
    font-family: 'Allerta Stencil', sans-serif;
}

nav ul li{
    float:left;
    padding:5px 25px;
}
.keepopen{
    clear:both;
}