/* Stylesheet for Mobile App */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav{
    margin:0;
    padding:0;
}

/* Universal Style */
body{
    background-color:rgb(250, 249, 247);
}
div#container{
    width:100%;
    
    background-color:#6dffd8
}

header{
    width:1150;
    padding:25px;
    background-color: #3eb18d;
}

header h1{
    color: #ffffff;
    font-family: 'Nosifer', cursive;
    font-size: 2.6em;
    
}

div#content{
    width:100%;
    background-color: #59ffcb;
    font-size: 1.5em;
}

nav {
    width:100%;
    /*background-color: rgba(255, 255, 255, 0.17);*/
}

nav ul{
    font-size: 1.5em;
    list-style: none;
    font-family: 'Allerta Stencil', sans-serif;
}

nav ul li a{
    float:left;
    padding:5px 25px;
    border-right: 2px solid rgba(0, 0, 0, 0.79);
    text-decoration: none;
    /*background-color: rgba(13, 180, 116, 0.17);*/
    color: #000000;
}

nav ul li a:hover{
    background-color:rgb(95, 137, 121);
    color:#ffffff;
}

footer{
    position:absolute;
    bottom: 0;
    left:0;
    width:100%;
    height: 50px;
    background-color: #00c4ff;
}

.keepopen{
    clear:both;
}

@media screen and (max-width: 600px) {
    div#container{
        width:100%
    }
    
    nav ul li a{
        float:none;
        text-align:center;
        border-right: none;
    }
}